<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo App</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="app">
        <h1>Todo App</h1>
        <form v-on:submit.prevent="addTodo">
            <input type="text" v-model="newTodo">
        </form>
        <button type="button" v-on:click.stop="addTodo">Add todo</button>
        <ul>
            <li v-for="(item, index) in todos" :key="index">
                <span v-text="item"></span>
                <button type="button" v-on:click="removeTodo(index)">X</button>
            </li>
        </ul>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data() {
                return {
                    newTodo: '',
                    todos: []
                }
            },
            methods: {
                addTodo: function () {
                    this.todos.push(this.newTodo)
                    this.newTodo = ''
                },
                removeTodo: function (index) {
                    this.todos.splice(index, 1)
                }
            },
        })
    </script>
</body>

</html>